
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class=" test3 text-center text-success text-uppercase" >Đặt hàng thành công!</h1>
<br>
<br>
<a href="@Url.Action("Index","Home")" class="btn btn-outline-primary btn-sm" ><i class="fas fa-reply"></i> Tiếp tục mua hàng</a>
<br>
<br>


