
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class=" test3 text-center text-success text-uppercase" style="margin-top: 3rem; color:rgb(31, 153, 31);font-weight:bold;">Đặt hàng thành công!</h1>
<br>
<br>
<a href="@Url.Action("Index","Home")" class="btn btn-outline-primary btn-sm" style="font-weight:bold;margin-left: 43%;font-size:18px"><i class="fas fa-reply"></i> Tiếp tục mua hàng</a>
<br>
<br>


